* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: blueviolet;
}

.container {
    border: 2px solid white;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    /* Flexbox stuff here */
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */
    /* align-content: space-between; */
    /* align-items: center; */
}

.container .child {
    width: 400px;
    height: 50px;
    background-color: crimson;
    text-align: center;
    margin: 5px;
}

.special {
    /* order: -2; */
    /* align-self: center; */
    /* flex-grow: 2; */
    /* flex-basis: 20px; */
    /* flex-shrink: 5; */
}

.spec {
    /* flex-grow: 4; */
    /* flex-basis: 90px; */
}