.container {
    background: rgb(66, 66, 66);
    width: 80%;
    height: 700px;
}

.d {
    width: 100px;
    height: 100px;
}

.one {
    background: red;
    position: relative;
}

.two {
    background: blue;
    position: absolute;
    left: 120px;
    top: 120px;
}

.three {
    background: teal;
    position: fixed;
    left: 120px;
}

.four {
    background: green;
    position: sticky;
    top: 20px;
}