* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
background-image: url('https://media.istockphoto.com/id/517188688/photo/mountain-landscape.jpg?s=612x612&w=0&k=20&c=A63koPKaCyIwQWOTFBRWXj_PwCrR4cEoOw2S9Q7yVl8=');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  /* filter: blur(3px); */
  /* filter: brightness(60%); */
  /* filter: contrast(70%); */
  /* filter: grayscale(90%); */
    /* filter: hue-rotate(60deg); */
    /* filter: invert(100%); */
    /* filter: opacity(50%); */
    /* filter: saturate(20%); */
}
