/* Variables */

:root {
    --primary-color: white;
    --font-size: 4rem;
    --bgColor: crimson;
    --padding: 20px
}

h1 {
    color: var(--primary-color);
}

h2 {
    font-size: var(--font-size);
}

h1 {
    background-color: var(--bgColor);
    padding: var(--padding);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn {
    font-size: 1rem;
    border: none;
    background-color: black;
    color: white;
    margin: auto 10px;
    padding: 10px;
}

.btn-primary {
    background-color: rgba(4, 148, 4, 0.918);
}


