body {
    background-color: black;
}

div {
    margin: 15px;
    width: 200px;
    height: 200px;
    background-color: rgb(110, 226, 43);
}

div:hover {
    box-shadow: 10px 20px 20px orange;
    margin: 10px;
    transition: 0.5s;
}

h1 {
    text-shadow: 4px 4px 9px red;
    font-size: 5rem;
    text-align: center;
    margin-top: 30px;
}