h1 {
    background: linear-gradient(to right, #217bfe, #e55571);
    background-clip: text;
    --webkit-background-clip: text;
    color: transparent;
    font-size: 128px;
    width: fit-content;
}