*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 50px;
    background-color: blueviolet;
    color: white;
    align-items: center;
}

nav{
    margin-right: 40px;
}

.link-list{
    margin-right: 30px;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
.personel-div{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: blueviolet;
    margin-bottom: 80px;
}

#about{
    width: 600px;
   margin-right: 400px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.about-header{
    margin-bottom: 30px;
    font-size: 2rem;
}
.about-par{
    font-size: 1.3rem;
}
.myimg{
    width: 190px;
    border-radius: 50%;
}

.list-of-info{
    margin-left: 10px;
    list-style-type: none;
}

.info-name{
    margin-bottom: 2px;
    margin-left: 7px;
    font-family: 'Courier New', Courier, monospace;
}

.info-phone{
    margin-bottom: 2px;
    font-family: 'Courier New', Courier, monospace;
}

.info-email{
    margin-bottom: 2px;
    font-family: 'Courier New', Courier, monospace;
}

.skills{
margin-left: 40px;
}

.skills-header{
    color: blueviolet;
    font-size: 2rem;
     font-weight: bold;
     margin-left: 30px;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.skill-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    width: 800px;
    list-style-type: none;
    margin-bottom: 70px;
}

.skill-list > li{
    border: 1px, solid, blueviolet;
    border-radius: 10px;
    margin-left: 40px;
    margin-bottom: 40px;
    padding: 20px 14px;
    background-color: rgb(255, 251, 251);
    text-align: center;
    align-items: center;
}

.skill-list-header{
    font-weight: 600;
    margin-bottom: 5px;
}
.logo{
    width: 60px;
    margin-bottom: 5px;
}

.projects{
    margin-left: 50px;
    color: blueviolet;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 60px;
}

.projects > h2{
    margin-bottom: 30px;
    font-size: 2rem;
}

.project-list{
    list-style-type: none;
}

.project-list > h3{
    margin-bottom: 15px;
    font-size: 1.3rem;
}

.project-list-item{
    margin-bottom: 25px;
    width: 600px;
    font-size: 1.2rem;
}

.recommend{
    margin-left: 50px;
    color: blueviolet;
    margin-bottom: 70px;
}

.recommend > h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    margin-bottom: 30px;
}

.recommend > ul{
    display: flex;
    list-style-type: none;
    width: 800px;
}

.recommend-list > li{
    margin-right: 30px;
    font-size: 1.2em;
    padding: 12px;
    border: 1px, solid, blueviolet;
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


form{
    text-align: center;
    align-items: center;
    width: 700px;
    margin-bottom: 80px;
}

.form-header{
    margin-bottom: 30px;
    color: rgb(70, 43, 226);
    font-size: 1.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
    margin-bottom: 10px;
    padding: 7px 2px;
}

textarea{
   margin-bottom: 5px; 
   padding: 5px;
}

button{
    padding: 3px 15px;
    font-size: 16px;
}

.homeimg{
    width: 80px;
    margin-left: 40px;
}