@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik+Moonrocks&display=swap');
/* Resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color: #e3e8e4;
    --primary-color: #363636;
    --main-font:" Playfair Display", serif;
}

/* Nav start */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
}

ul li{
    display: inline;
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: black;
    margin-left: 4rem;
}

ul li a:hover {
 border-bottom: 2px solid var(--primary-color);
 padding-bottom: 10px;
}

.btn-fill {
    padding: 10px 30px;
    background: var(--primary-color);
    border-radius: 100px;
    color: white;
    cursor: pointer;
}
/* Nav end */

/* Header start */
.btn-outline {
    background: transparent;
    border: none;
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
}

header {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.content-container {
    margin-left: 6rem;
}

.main-headings{
    font-size: 4rem;
    font-family: var(--main-color);
    color: #0000004f;
    margin-bottom: 2rem;
}

.main-headings span {
    color: black;
}

.primary-heading{
    max-width: 500px;
    font-family: sans-serif;
    line-height: 25px;
    margin-bottom: 2rem;
}

.img-container {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-right: 2rem;
}

.img-container img {
    width: 500px;
    height: 500px;
    margin-left: 20px;
    margin-bottom: 40px;
    border-radius: 100%;
    box-shadow: 2px 2px 2px 2px var(--main-color);
}
/* Header end */