@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Rubik+Moonrocks&display=swap');
h1 {
  font-family: "Rubik Moonrocks", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Imperial Script", cursive;
}