@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);

.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;

    font-family: 'Outfit', sans-serif;

    .slider{
        position: absolute;
        width: 200px;
        height: 250px;
        top: 25%;
        left: calc(50% - 100px);
        transform-style: preserve-3d;
        transform: perspective(1000px);
        animation: autoRun 20s linear infinite;
        z-index: 2;


        .item{
            position: absolute;
            inset: 0 0 0 0;
            transform:
                rotateY(calc((var(--position) - 1 ) * (360 / var(--quantity))* 1deg))
                translateZ(550px);

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .content{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: min(1400px, 100vw);
        height: max-content;
        padding-bottom: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        z-index: 1;

        h1{
            font-size: 16em;
            line-height: 1em;
            color: #25283b;  
            position: relative;

            &::after{
                position: absolute;
                inset: 0 0 0 0;
                content: attr(data-content);
                z-index: 2;
                -webkit-text-stroke: 2px #d2d2d2;
                color: transparent;
            }
        }

        .author{
            text-align: right;
            max-width: 200px;
            z-index: 4;
        }

        h2{
            font-size: 3em;
        }

        .model{
            background-image: url('./images/5.webp');
            width: 100%;
            height: 75vh;
            position: absolute;
            bottom: 0;
            left: 0;
            background-size: auto 130%;
            background-repeat: no-repeat;
            background-position: top center;
            z-index: 1;
        }
    }
}

@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-20deg) rotateY(0deg);
    }
    to{
        transform: perspective(1000px) rotateX(-30deg) rotateY(360deg);
    }
}